.cards{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2em;
    margin: 1em;
    margin-bottom: 1em;
}

@media (max-width: 1260px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
     }      
}

